*{
	margin:0;
	box-sizing: border-box;
}

body {
	background-color: lightgrey;

}

li{
	padding:30px;
}

h1{
	font-size:30px;
	margin-bottom:40px;
	text-align:center;
}

p{
	margin-bottom:30px;
	font-size:17px;
	padding:5px;
}

h2{
	margin-bottom:20px;
	text-align:center;
}

.p2{
	margin-bottom:20px;
	text-align:center;
   	font-size:30px;
   	padding: 3px;
   	padding-right:20px;
}

#innhold {
	margin:0px 100px;
}

img {

max-width: 100%;
height: auto;
width: auto\9;
}

.heading{
	height:110px;
	width: 1092px;
	height: 100%;
	
}

.navigation{
	height:50px;
	background:silver;
	margin-top:0px;
	margin-bottom:0px;
	padding:10px;
	text-align:center;
	float: left;
	width: 95%;
}

.ul{
	list-style-type:none;
	margin:0;
	padding:5px;
	float:left;
}

.content{
	min-height: 500px;
	background:white;
	width: 95%;
	height: 100%;
	float:left;
	opacity: 0.9;
	position:relative;
	display:inline-block;
	vertical-align:middle;

}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.footer{
	clear:both;
	background:black;
	height:50px;
	color:white;
	text-align: center;
	padding:10px;
	overflow:auto;
	width: 95%;
	float: left;
}

.link2 {
   border: solid 2px #aaa;
   border-radius: 3px;
   background-color:#8ec3eb;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   padding-right:20px;
   display: inline-block;

}
.link2:hover {background-color:white;}

.link3 {
   border: solid 2px #aaa;
   border-radius: 3x;
   background-color:cyan;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   padding-right:20px;
   display: inline-block;
}
.link3:hover {background-color:white;}

.mailtag{
	padding-left:320px;
}

.imgtag{
	align-items:center;
	width:200px;
	height:50px;

}

.mySlides {display:none}

.slideshow-container{
	max-width:1000px;
	overflow: hidden;
	position:relative;
	margin: auto;
	border: 1px solid black;
}

.slideshow-text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.slideshow-active{
	background-color: #717171;
}

.slideshow-slide {
	-webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.slideshow-dot {

}

@-webkit-keyframes slide {
	100 % { right: 10; }
}

@keyframes slide {
	100% { right: 10; }
}
}


/* Phone media query */

@media only screen and (max-width: 500px) {
    #innhold {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .navigation {
    	float:left;
    	height: 50px;
    }
    .ul {
    	float:left;
    }
    .link2 {
    	display:inline-flex;
    	padding-right: 0px;
    	margin:0px;
    	padding:0px;
    }
    .link3 {
    	display:inline-flex;
    	padding-right: 0px;
    	margin: 0px;
    	padding: 0px;
    }
    .footer {
    	height:70px;
    }
    .slideshow-text {
    	font-size: 10px;
    }
}

@media only screen and (max-width: 1000px) {
	.slideshow-container {display: none;}
	.slideshow-text{display:none;}
}


















